@import "normalize.css";
@import "./Grid.scss";
@import "./Utils.scss";

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: linear-gradient(
        45deg,
        rgb(250, 218, 97) 0%,
        rgb(255, 145, 136) 50%,
        rgb(255, 90, 205) 100%
    );
    --white: #fff;
    --black: #000;
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a,
img,
button,
input,
label,
textarea,
select {
    padding: 0;
    font-family: inherit;
    color: inherit;
    outline: none;
    border: none;
}

input,
textarea {
    background: transparent;
}
i,
em {
    font-style: italic;
}

ul,
ol,
li {
    list-style: none;
}

b,
strong {
    font-weight: 600;
}

// Container
