.navbar {
    &-list {
        display: flex;
        height: 100%;
    }

    &-item {
        height: inherit;
    }

    &-link {
        display: block;
        padding: 12px 16px;
        height: inherit;

        font-size: 1.6rem;
        font-weight: 600;
        color: var(--white);

        &:hover {
            color: #333;
        }
    }
}

.active {
    color: #333;
}
