.home {
    padding-top: 20px;
    &-heading {
        padding-bottom: 30px;
        text-align: center;
        font-size: 4.8rem;
        background: linear-gradient(
            135deg,
            rgb(255, 97, 100) 50%,
            rgb(176, 0, 18) 100%
        );
        color: transparent;
        background-clip: text;
        font-weight: 400;
    }
}

// Home item
.home-item {
    border-radius: 20px;
    background: #fff;

    &__img {
        width: 100%;
        height: 200px;
        border-radius: 20px;
        object-fit: cover;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        height: 170px;
    }

    &__info {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__wrap {
        line-height: 150%;
        color: #333;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__name {
        font-weight: 700;
    }

    &__desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1.4rem;
        line-height: 150%;
        color: #000;
    }
}
