.wrapper {
    display: flex;
    height: 60px;
    background: var(--primary);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    &-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.logo-title {
    margin-left: 6px;
    font-weight: 600;
    color: var(--white);
}
