.search {
    --search-border-radius: 99px;
    --search-button-width: 52px;
    --search-height-space: 10px;

    position: relative;
    display: flex;
    width: 300px;
    height: 50px;
    padding-left: 16px;
    margin-left: 150px;
    background-color: rgba($color: #fceeee, $alpha: 0.8);
    border-radius: var(--search-border-radius);
    border: 1.5px solid transparent;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }

    input {
        flex: 1;
        height: 100%;
        padding-right: 42px;
        background-color: transparent;

        color: var(--black);
        font-size: 1.6rem;
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: "";
        position: absolute;
        top: var(--search-height-space);
        right: var(--search-button-width);
        width: 1px;
        height: calc(50px - (var(--search-height-space) * 2));
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.clear {
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
